@tailwind base;
@tailwind components;
@tailwind utilities;

/* //**----------------------------Gerneral----------------------------------------------------- */
* {
	font-family: 'CustomFont', sans-serif, serif;
	/* @apply font-sans font-serif */
}

button {
	@apply select-none focus-visible:outline-none
}

img {
	@apply select-none
}

/* //**----------------------------Scrollbar----------------------------------------------------- */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* //**----------------------------Button----------------------------------------------------- */
.btn-common-hover {
	@apply transition-all hover:brightness-90 active:brightness-75
}

.btn-trans {
	@apply transition-all hover:bg-gray-100 active:bg-gray-200
}

.btn-white {
	@apply bg-white transition-all hover:bg-gray-200 active:bg-gray-300
}

.btn-grey {
	@apply bg-gray-200 transition-all hover:bg-gray-300 active:bg-gray-400
}

.btn-teal {
	@apply bg-teal-500 text-white transition-all hover:bg-teal-600 active:bg-teal-700
}

.btn-scale {
	@apply transition-all hover:scale-105 active:scale-95 group-hover:scale-105 group-active:scale-95
}

.btn-scale-xl {
	@apply transition-all hover:scale-110 active:scale-90 group-hover:scale-110 group-active:scale-90
}

/* //**----------------------------Markdown----------------------------------------------------- */
li {
	@apply list-disc list-inside
}

/* !az这才解决…… */
li>p {
	@apply inline-block
}

/* //**----------------------------Fonts----------------------------------------------------- */
@font-face {
	font-family: 'CustomFont';
	src: url('./assets/fonts/ALIMAMAFANGYUANTIVF-THIN.TTF') format('truetype');
	/* !注意是truetype而不是ttf */
}

/* //**----------------------------Others----------------------------------------------------- */